PORT=3000
NODE_ENV=development

# Seguridad
JWT_SECRET=pon_un_secreto_largo_aqui

# Base de Datos
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=api_financiera

# Azure Storage (Requisito de la prueba)
AZURE_STORAGE_CONNECTION_STRING=tu_cadena_de_conexion
AZURE_STORAGE_CONTAINER_NAME=criptos

# API Externa
COINGECKO_API_URL=https://api.coingecko.com/api/v3